.autocomplete {
    position: relative;
    .dropdown {
        position: absolute;
        width: 100%;
        background-color: white;
        padding: 20px;
        border-radius: $rounded;
        box-sizing: border-box;
        border:2px solid $primary;
        div {
            color: $text-color;
            cursor:pointer;
            padding: 15px 0;
            transition: opacity 0.4s;
            &:hover {
                opacity: 0.4;
            }
        }
    }
}