.modal_wrapper {
    position: fixed;
    width: 100vw;
    height:100vh;
    top: 0;
    left: 0;
    background-color: rgba(#000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
        background-color: #fff;
        padding: 40px;
        border-radius: $rounded;
        width: 700px;
        height: min-content;
        box-sizing: border-box;
        position: relative;
        z-index: 9999;
        .modal-header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding-bottom: 15px;
            margin-bottom: 15px;
            &::after {
                position:absolute;
                width: 100%;
                height: 2px;
                background: #eee;
                top:100%;
                left: 0;
                content:''
            }
            h1 {
                margin:0;
                color: $primary;
            }
            svg {
                stroke:$text-color;
                cursor:pointer
            }
            
        }
        .modal-content {
            margin: 40px 0;
        }
        .modal-footer {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    button {
        @include button
    }
}