@import './Home.scss';
.nav {
    position: absolute;
    top: 70px;
    right: 100px;
    ul {
        display: flex;
        margin:0;
        padding: 0;
        list-style: none;
        li {
            &:not(:last-child) {
                margin-right: 20px;
            }
            a {
                &.router-link-active {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}
.create-button {
    @include button;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 30px;
    position: fixed;
    bottom: 70px;
    right: 100px;
}