.devis_new {
    label {
        color: $primary;
    }
    .content {
        margin-top: 50px;
        .form-gorup-labels {
            align-items: flex-end;
            input {
                @include input
            }
            .picker {
                width: 100%;
            }
        }
        .amount {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span {
                color: $text-color;
                font-size: 2.4rem;
                font-weight: 600;
            }
        }
    }
    .save-button {
        img {
            width: 30px
        }
        @include button;
        width: 60px;
        height: 60px;
        border-radius: $rounded;
        font-size: 30px;
        position: fixed;
        bottom: 70px;
        right: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.devis-editor {
    display: flex;
    .views {
        width: 80%;
        height: 100%;
        .view {
            padding:0 40px;
            height: 100%;
            .search  {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .autocomplete {
                    width: 65%;
                    input {
                        width: 100%;
                    }
                }
                button {
                    width: 30%;
                    justify-content: center
                }

            }
            .clients_infos {
                h2 {
                    font-weight: 600;
                    color: $primary;
                    vertical-align: baseline;
                    span {
                        font-size: 1rem;
                        a {
                            @include link;
                            cursor: pointer;
                        }
                    }
                }
                .infos-group {
                    display: flex;
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                    .info {
                        span {
                            color: $text-color
                        }
                        &:not(:last-child) {
                            margin-right: 15px;
                        }
                    }
                }
            }
            button {
                @include button;
            }
        }
    }
    .tabs {
        width: 20%;
        .tab-header {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 15px;
                &::after {
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: transparentize($text-color, 0.45);
                    content:'';
                    bottom:-5px;
                    left: 0;
                }
            }
            display: flex;
            align-items: center;
            color: $text-color;
            position: relative;
            padding: 10px 0;
            transition: color 0.5s ease, padding 0.6s ease;
            cursor: pointer;
            &:hover {
                padding-left: 8px;
            }
            svg {
                margin-right: 15px;
            }
            &.active {
                color: $primary;
                font-weight: 600;
            }
        }
    }
}