.home {
    @include landing;
    align-items: flex-start;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
    h1 {
       margin: 0;
        font-size: 7rem;
        color: $primary;
    }
    p {
        font-size: 1.4rem;
        color: rgba(#000000,.5);
    }
    img {
        width: 100px;
    }
    ul {
        text-align: left;
    }
    .nav {
        position: absolute;
        top: 70px;
        right: 100px;
        ul {
            display: flex;
            margin:0;
            padding: 0;
            list-style: none;
            li {
                &:not(:last-child) {
                    margin-right: 20px;
                }
                a {
                    &.colored {
                        @include button;
                    }
                }
            }
        }
    }
}