@mixin button {
    padding: 10px 20px;
    border-radius: $rounded;
    color: white;
    background: $primary;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 0.5s ease;
    border: none;
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    outline: 0;
    &:hover {
        box-shadow: 1px 1px 30px rgba(rgb(46, 46, 46), .35);
    }
}