@mixin container {
    padding:  70px 100px;
    box-sizing: border-box;
    .header {
        user-select: none;
        h1 {
            margin:0;
            font-size: 4rem;
            color: $primary;
        }
        p {
            margin-top: 0;
            color: $text-color;
        }
    }
}