@mixin input {
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: $rounded;
    font-size: 1rem;
    background-color: white;
    border:2px solid #ebebeb;
    color: #cbcbcb;
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline:0;
    transition: color 0.5s ease, border-color 0.5s ease;
    width: 100%;
    box-sizing: border-box;
    &:focus {
        color: $primary;
        border-color: $primary;
    }
    &::placeholder {
        color: #cbcbcb;
    }
}