@import './utils/All.scss';
@import './mixins/All.scss';
@import './views/All.scss';
@import './components/All.scss';
html, body {
    margin:0;
    padding: 0;
    font-size: 15px;
    height: 100%;
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $background;
}
#app {
    height: 100%;
}
.link {
    @include link;
}
.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    &.group-2 {
        input {
            width: 48%;
        }
    }
    &.group-3 {
        input {
            width: 32%;
        }
    }
    &.group-4 {
        input {
            width: 24%;
        }
    }
}
.select {
    width: 100%;
    position: relative;
    &::before {
        position: absolute;
        top: 0;
        right:5px;
        content:url('../icons/down.svg');
        width:30px;
        height: 30px;
        z-index: 999;
        top: 50%;
        transform: translateY(-40%);
        opacity: 0.3;
    }
    select {
        width: 100%;
    padding-right: 50px;
    outline:none;
    position: relative;
    }
}
select {
    @include input;
    appearance: none;
    outline:none;
}
.form-group-labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
    &.group-1 {
        & > div {
            input {
                width: 100%;
            }
            width: 100%;
        }
    }
    &.group-2 {
         & > div {
            input {
                width: 100%;
            }
            width: 48%;
        }
    }
    &.group-3 {
         & > div {
            input {
                display: block;
                width: 100%;
            }
            width: 32%;
        }
    }
    &.group-4 {
         & > div {
            input {
                width: 100%;
            }
            width: 24%;
        }
    }
}
input[type="text"],input[type="email"],input[type="password"],input[type="date"],input[type="phone"],input[type="url"] {
    @include input;
}
.table {
    border-collapse:collapse;
    width: 100%;
    td {
        padding: 20px;
        color: $text-color;
    border:2px solid $primary;
    }
}
revo-grid {
    width: 100%;
    height: 100vh;
}