@import './utils/All.scss';
@import './mixins/All.scss';
@import './views/All.scss';
@import './components/All.scss';
html, body {
    margin:0;
    padding: 0;
    font-size: 15px;
    height: 100%;
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $background;
}
#app {
    height: 100%;
}
.link {
    @include link;
}
.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    &.group-2 {
        input {
            width: 48%;
        }
    }
    &.group-3 {
        input {
            width: 32%;
        }
    }
}